*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
}
nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;    
    color: black;

}

nav .logo{
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left:40px ;
    text-transform: uppercase;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0px;
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 50%;
    
    transform: translateX(-50%);
    background: #fff;
    transition: width 0.3s;
}
nav ul li a:hover::after{
    width:50%;
}

.about{
    width: 100%;
    padding: 78px 0px;
}
.about img{
    height: auto;
    width: 600px;

}
.about-text{
    width: 550px;
}
.main{
    width:1130 ;
    max-width:95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h1{
    color: #fff;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    color: #fff;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px ;
}
span{
    color: rgba(128, 0, 128, 0.562);
}

.about-text p{
    color: rgba(158, 86, 158, 0.932) ;
    letter-spacing: 1px;
    line-height: 28px;
    font-size:18px;
    margin-bottom: 45px;
}
.about-text a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
}

.bio.slayed{
    width: 200px;
}
.heading{
    margin-left: 400px;
    size: 300px;
    
}

.card{
    
    position: absolute;
    width: 350px;
    height: 450px;
    
    background: #e6e6e6;
    border-radius: 20px;
    box-shadow: 0 35px 80px black;
    right: 350px;
    top: 900px;
    transition: 0.5s;
}
.card:hover{
    height: 450px;
}
.imgbx{
    position: absolute;
    left: 50%;
    top:-10%;
    transform: translateX(-50%);
    width: 250px;
    height: 250px;
    background: rgb(238, 237, 237);
    box-shadow: #222;
    border-radius: 20px;
    box-shadow: 0 15px 50px #222;
    overflow: hidden;
    transition: 0.5s;
}
.card:hover .imgbx{
    width: 250px;
    height: 250px;

}
.imgbx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.meh p{
    position: absolute;
    width: 901px;
    height: 98px;
    left: 120px;
    top: 990px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 102%;
    background-color: #06040e00;



color: #FFFFFF;

}
.card .content{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.card .content .facts{
    padding: 40px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
}
.card .content .facts h2{
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    line-height: 1.2em;
} 
.card .content .facts{
    font-size: 0.75em;
    font-weight: 500;
    opacity: 0.5;
}

.card .content .facts .data {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.card .content .facts .data ul{
    text-decoration: none;
    font-size: 15px;
    color: #030303;
    line-height: 1.2em;
    font-weight: 600;
}
.fame p{
    position: absolute;
width: 850px;
left: 123px;
top: 1100px;

font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 200;
font-size: 20px;
line-height: 139.02%;
/* or 67px */


color:rgba(158, 86, 158, 0.932);
}

@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}